
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.taget {
  display: none;
}
.center {
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}


h1 {
  font-family: Satisfy;
}

header {
  position: fixed;
  top: 0;
  background-color: #fffefe;
  z-index: 2;
  width: 100%;
}

header img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}



.header_container {
  margin-left: 10px;
  margin-right: 10px;
}

.images {
  top: 0.6875rem;
  left: 18.75rem;
  width: 3.875rem;
  height: 3.875rem;
  margin: 1rem;
  gap: 1.0625rem;
}




.main_container {
  width: 100%;
  height: 28.8125rem;
  background: #13e8f163 0% 0% no-repeat padding-box;
  flex-direction: column;
  margin-top: 3rem;
  direction: rtl;
}

.main_container > p {
  width: 52.75rem;
  height: 3.6875rem;
  text-align: center;
  font-weight: bold;
  font: 1.25rem/1.875rem Heebo;
  letter-spacing: 0;
  color: #3a3a3a;
}

.lang_container {
  gap: 1.3125rem;
  height: 8.125rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0.125rem 0.1875rem 0.375rem #00000029;
}


.footer_container {
  grid-template-columns: repeat(6, 7rem);
  height: 12.5rem;
  background: #1ae0ec 0% 0% no-repeat padding-box;
  gap: 7rem;
}

.footer_container > .svg_box {
  flex-direction: column;
  height: 5.0625rem;
}

.svg_box > img {
  width: 1.8125rem;
  height: 2.5625rem;
  margin-bottom: 1.1875rem;
}

.svg_box > h5 {
  font: 0.875rem/1.3125rem Heebo;
  color: #2c2c2c;
}

.footer_inc {
  height: 3.1875rem;
  background: #000000 0% 0% no-repeat padding-box;
  font: normal normal normal 1.25rem/1.875rem Heebo;
  letter-spacing: 0.03125rem;
  color: #1ae0ec;
  padding: 0 1.8125rem;
  border-bottom: 0.375rem solid #1ae0ec;
}

.footer_inc > h5 {
  font: normal normal 200 1.25rem/1.875rem Heebo;
}

@media (max-width: 1024px) {
 
}


@media (max-width: 767px) {
 
  .footer_container {
     gap: 0.1rem;
    height: 70px;
    padding-top: 58px;
    height: 100%;
    grid-template-columns: repeat(2, 11rem);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 68px;
  }

  .footer_inc {
    height: 100%;
  }

  .footer_container > .svg_box {
    height: 88px;
  }
  .svg_box > img {
    width: 47px;
    height: 44px;
  }
 
  .footer_inc > h4 {
    margin: 1rem;
    font: normal normal 100 14px/20px Heebo;
  }

}
@media only screen and (max-width: 340px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .buttons a {
    margin: 0;
    padding: 0;
  }

  .lang_container img {
    width: 60px;
    height: 60px;
  }
}

.page_container {
  direction: rtl;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-section {
  width: 100%;
}

.form-section label {
  display: block;
  margin-bottom: 5px;
}

#element-type-select {
  height: 20px;
}

.form-section input[type='number'],
.form-section input[type='color'],
.form-section select,
.form-section input[type='text'] {
  width: 100%;
  margin-bottom: 10px;
  padding: 0.15rem;
}

.content-section {
  width: 100%;
  border: 4px solid #ffffff;
  padding: 20px;
  min-height: 800px;
  overflow-y: auto;
  margin-top: 20px; /* Add some space between form and content on small screens */
}

button {
  width: 50%;
  background-color: rgb(112, 184, 114);
  padding: 1rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: large;
  color: #ffffff;
}

header img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
.score-container h3 span {
  color: #070707;
  font-size: xx-large;
}
.buttons > a {
  margin-top: 2.125rem;
  width: 9.5625rem;
  height: 1.875rem;
  border-radius: 0.9375rem;
  font: 0.875rem/1.625rem Heebo;
  font-weight: 500;
  color: #2c2c2c;
  background: #1ae0ec 0% 0% no-repeat padding-box;
  margin-bottom: 2rem;
  font-weight: 600;
  text-decoration: none;
}
.buttons {
  gap: 1rem;
}

/* Responsive layout adjustments */
@media screen and (min-width: 600px) {
  .page_container {
    flex-direction: row;
  }
  .form-section {
    width: 40%;
    margin-right: 20px;
  }
  .content-section {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .input-container {
    flex-wrap: wrap;
  }
  .input-container input[type='number'],
  .input-container input[type='color'],
  .input-container select,
  .input-container input[type='text'] {
    width: calc(50% - 10px); /* Two inputs per row with some space in between */
    margin-bottom: 10px;
  }
  .input-container label {
    width: 100%; /* Make labels full width */
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .form-section {
    width: 40%;
    margin-right: 20px;
  }
  .content-section {
    width: 60%;
  }
}
